@use "variables" as v;

/* HEADER */
#header {
    position: relative;
    margin: 3% auto;
    width: 94%;
}
#title {
    background-image: url('../images/backgrounds/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
    box-shadow: 0 0 1vw 1vw v.$navy-blue inset;
}
#title_inner {
    margin: 0 auto;
    width: 60%;
    padding: 5%;
    padding-bottom: 3%;
    text-align: center;
    background-color: v.$light-blue;
    color: v.$navy-blue;
}
#title_inner h1 {
    margin-bottom: 1vw;
    font-size: 3vw;
}
#title_inner p {
    margin-top: 0;
    margin-bottom: 1vw;
    font-size: 1.5vw;
}

/* LINKS SECTION */
#links {
    display: flex;
    align-items: center;
}
#links .column {
    width: 30%;
    text-align: center;
    margin: auto;
    padding: 2.5% 0;
    font-size: 1.5vw;
}
#links .column img {
    max-width: 0.8em;
    height: auto;
}

/* Heading blurb */
#whoami {
    margin: 5% auto 0 auto;
    width: 80%;
    height: 40%;
    padding: 5% 5%;
    font-size: 1.5vw;
    text-align: center;
    background-color: v.$light-blue;
    color: v.$navy-blue;
    font-style: italic;
}
#whoami p ~ p {
    margin-top: 2%;
}


/* LINK STYLING */
a:link {
    color: gray;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: underline;
}
a:visited {
    color: gray;
}