/* Selectors cheat sheet: https://dev.to/dawnind/css3-selectors-cheat-sheet-6dk */

/* PAGE-WIDE */
:root {
    --navy-blue: #091d3a;
    --gray-blue: rgb(203, 239, 252);
    --light-blue: rgb(169, 199, 210);
}
* {
    font-family: Helvetica, Arial, sans-serif;
}
body {
    background-color: var(--navy-blue);
}

/* LINK STYLING */
a:link {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: underline;
}
a:visited {
    color: gray;
}


/* HEADER */
#header {
    position: relative;
    margin: 3% auto;
    width: 94%;
}
#title {
    background-image: url('../webpage/images/backgrounds/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
    box-shadow: 0 0 1vw 1vw var(--navy-blue) inset;
}
#title_inner {
    margin: 0 auto;
    width: 60%;
    padding: 5%;
    padding-bottom: 4%;
    text-align: center;
    background-color: white;
    color: var(--navy-blue);
}
#title_inner h1 {
    margin-bottom: 1vw;
    font-size: 3vw;
}
#title_inner p {
    margin-top: 0;
    font-size: 1.5vw;
}

/* LINKS SECTION */
#links {
    display: flex;
    align-items: center;
}
#links .column {
    width: 30%;
    text-align: center;
    margin: auto;
    padding: 2.5% 0;
    font-size: 1.5vw;
}
#links .column img {
    max-width: 0.8em;
    height: auto;
}

/* Heading blurb */
#whoami {
    margin: 5% auto 0 auto;
    width: 80%;
    height: 40%;
    padding: 2% 5%;
    font-size: 1.5vw;
    text-align: center;
    background-color: white;
    color: var(--navy-blue);
    font-style: italic;
}


/* MAIN CONTENT */
#main {
    margin: 0 auto;
    width: 80%;
}

/* Skills section - 3 columns */
#skills {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
#skills .column {
    float: left;
    text-align: left;
    font-size: 1.5vw;
    margin: 1%;
    padding: 1%;
    background-color: var(--gray-blue);
}
#skills #swe_skills {
    width: 33.33%;
    margin-left: 0;
}
#skills #web_skills {
    width: 33.33%;
}
#skills #other_skills {
    width: 33.33%;
    margin-right: 0;
}
#skills:after {    /* Clear floats after the columns */
    content: "";
    display: table;
    clear: both;
}
ul p {
    margin: 0;
    margin-left: 7.5%;
    font-size: 1.5vw;
    font-style: italic;
}

/* Projects */
#projects {
    display: flex;
    margin: 0 auto;
    margin-top: 4%;
}
#project_menu {
    width: 20%;
}
#project_menu a {
    display: block;
    padding: 5% 10%;
    font-size: 1.5vw;
    background-color: var(--light-blue);
    color: var(--navy-blue);
    border: 2% dotted var(--light-blue);
}
#project_menu a:hover {
    background-color: var(--gray-blue);
}
.project_container {
    width: 75%;
    padding: 3%;
    background-color: var(--light-blue);
}
.placeholder, .placeholder_video {
    display: flex;
    align-items: center; 
    justify-content: center;
    margin: 5%;
    padding: 20%;
    text-align: center;
    border: 0.25vw solid var(--navy-blue);
    font-style: italic;
    font-size: 2vw;
}
.video_skills_container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 90%;
}
.video_skills_container .placeholder_video {
    margin-top: 0;
    padding: 5%;
    width: 55%;
    font-size: 1.5vw;
}
.video_skills_container .project_skills {
    padding: 0 5% 5% 0;
    width: 45%;
}
h1.project_title {
    text-align: center;
    font-weight: bold;
    font-size: 2vw;
    padding-bottom: 0;
}
.project_desc p {
    padding: 0 10%;
    text-align: center;
    font-size: 1.5vw;
}
.project_divider ~ .project_content > .project_title {
    padding-top: 3%;
}
.project_skills {
    margin: 0 auto;
    display: flex;
    width: 80%;
    align-items: center;
    list-style-position: outside;
}
.project_skills #left {
    float: left;
    width: 33%;
}
.project_skills #right {
    float: right;
    padding-left: 5%;
    width: 72%;
}
.project_skills ul {
    padding-left: 0;
}
.project_skills ul li {
    font-family: "Lucida Console", Courier, monospace;
    list-style-type: none;
    font-size: 1.5vw;
    line-height: 1.2;
}
.project_skills ul li:before {
    content: ">";
}
.what_i_learned {
    margin: 0 auto;
    width: 80%;
}
.what_i_learned h1 {
    text-align: center;
    text-decoration: underline rgb(5, 37, 59);
    font-size: 1.25vw;
    font-weight: normal;
}
.what_i_learned p {
    padding: 0 10%;
    text-align: center;
    font-style: italic;
}
.project_divider {
    display: flex;
    justify-content: center;
    margin: 5%;
    padding: 2%;
    background-color: var(--gray-blue);
}
.project_divider#end {
    margin-bottom: 0;
}
.project_divider img {
    width: 20%;
}

#hackerrank_link {
    display: none;
    text-align: center;
    margin: auto;
    padding: 2.5% 0;
    font-size: 2vw;
}
#hackerrank_link img {
    max-height: 0.8em;
    width: auto;
}

/* Personal life */
#personal_life {
    margin: 5% auto;
    padding: 4%;
    align-content: center;
    background-color: var(--light-blue);
}
#personal_life h1 {
    text-align: center;
    font-size: 1.5vw;
    font-style: italic;
}
#personal_life > p ~ h1 {
    margin-top: 3%;
}
#personal_life p {
    font-size: 1.25vw;
    text-align: center;
    margin: 0;
    color: var(--navy-blue);
}

/* FOOTER */
footer p {
    margin: 0;
    padding: 1vw 0;
    width: 100%;
    background-color: #000000;
    color: var(--gray-blue);
    font-size: 1vw;
    font-style: italic;
    text-align: center;
}

/* TODO Restructure for mobile displays - screen width <= 480px
- Skills columns combine into one
- Left projects menu becomes dropdown, project content shows below
*/
@media (max-width: 480px) {
}

/* ANIMATIONS */
.fade-in {
    animation: fadeIn 1s;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}  