/* Selectors cheat sheet: https://dev.to/dawnind/css3-selectors-cheat-sheet-6dk */

/* PAGE-WIDE */
* {
    font-family: Helvetica, Arial, sans-serif;
}

/* LINK STYLING */
a:link {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: underline;
}
a:visited {
    color: gray;
}


/* HEADER */
#header {
    position: relative;
    margin: 3% auto;
    width: 94%;
}
#title {
    background-image: url('../webpage/images/backgrounds/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
}
#title_inner {
    margin: 0 auto;
    width: 75%;
    padding: 5%;
    padding-bottom: 4%;
    text-align: center;
    background-color: white;
    color: #05253b;
}
#title_inner h1 {
    margin-bottom: 1vw;
    font-size: 3vw;
}
#title_inner p {
    margin-top: 0;
    font-size: 1.5vw;
}

/* LINKS SECTION */
#links {
    display: flex;
    align-items: center;
}
#links .column {
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 2.5% 0;
    font-size: 1.5vw;
}
#links .column img {
    max-width: 0.8em;
    height: auto;
}
#links #left {
    padding-left: 20%;
}
#links #right {
    padding-right: 20%;
}

/* Heading blurb */
#whoami {
    margin: 5% 0 auto auto;
    width: 90%;
    height: 40%;
    padding: 2% 5%;
    font-size: 1.5vw;
    text-align: center;
    background-color: white;
    color: #05253b;
}


/* MAIN CONTENT */
#main {
    margin: 0 auto;
    width: 80%;
}

/* Skills section - 3 columns */
#skills {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
#skills .column {
    float: left;
    text-align: left;
    font-size: 1.5vw;
    margin: 1%;
    padding: 1%;
    background-color: rgb(203, 239, 252);
}
#skills #languages {
    width: 26%;
    margin-left: 0;
}
#skills #web {
    width: 26%;
}
#skills #other {
    width: 40%;
    margin-right: 0;
}
#skills:after {    /* Clear floats after the columns */
    content: "";
    display: table;
    clear: both;
}
ul p {
    margin: 0;
    margin-left: 5%;
}

/* Projects */
#projects_menu {
    width: 20%;
    margin-top: 4%;
}
#projects_menu a {
    display: block;
    padding: 5%;
    font-size: 1.5vw;
    background-color: rgb(169, 199, 210);
    color: #05253b;
}
#projects_menu a:hover {
    background-color: rgb(203, 239, 252);
}
#projects_menu a.active {
    text-decoration: underline;
    border: 2% solid #05253b;    
}
div .project_content {
    margin: 0 auto;
    display: flex;
}
#projects div.project_content {
    background-color: #a9c7d2;
}
#project_description {
    text-align: center;
    font-style: italic;
}
#project_video {
    margin: 0 auto;
    width: 60%;
}
.project_content #placeholder {
    text-align: center;
    font-style: italic;
    border-style: solid;
    border-width: 0.5vw;
    border-color: #05253b;
}
#project_skills {
    margin: 0 auto;
    width: 40%;
}

/* Personal life */
#personal_life {
    margin: 5% auto;
    padding: 4%;
    background-color: rgb(169, 199, 210);
}
#personal_life #intro {
    font-size: 1.5vw;
    margin-bottom: 1em;
}
#personal_life p {
    font-size: 1vw;
    text-align: center;
    margin: 0;
    color: #05253b;
}

/* FOOTER */
footer p {
    margin: 0 auto;
    padding: 1vw 0;
    width: 100%;
    background-color: #05253b;
    color: rgb(203, 239, 252);
    font-size: 1vw;
    font-style: italic;
    text-align: center;
}

/* TODO Restructure for mobile displays - screen width <= 480px */
@media (max-width: 480px) {
}