/* Selectors cheat sheet: https://dev.to/dawnind/css3-selectors-cheat-sheet-6dk */

/* PAGE-WIDE */
* {
    font-family: Helvetica, Arial, sans-serif;
}

/* HEADER */
#header {
    position: relative;
    margin: 3%;
    width: 94%;
}
#title {
    background-image: url('../webpage/images/backgrounds/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7.5%;
}
#title_inner {
    margin: 0 auto;
    width: 75%;
    height: 60%;
    padding: 5%;
    text-align: center;
    background-color: white;
    color: #0e1247;
}
#title_inner h1 {
    font-size: 5vw;
}

/* LINKS SECTION */
#links {
    display: flex;
    align-items: center;
}
#links .column {
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 2.5% 0;
    font-size: 2vw;
}
#links .column img {
    max-width: 0.8em;
    height: auto;
}
#links #left {
    padding-left: 20%;
}
#links #right {
    padding-right: 20%;
}

/* LINK STYLING */
a:link {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: underline;
}
a:visited {
    color: gray;
}