@use "../variables" as v;

/* FOOTER */
footer {
    position: sticky;
    margin: 0;
    padding: 1vw 0;
    width: 100%;
    background-color: #000000;
}

footer p {
    color: v.$light-blue;
    font-size: 0.5rem;
    font-style: italic;
    text-align: center;
}