@use "../variables" as v;

* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}
html {
    font-size: 20px;
}
body {
    background-color: v.$navy-blue;
}

// main content (i.e. not header)
#main {
    margin: 0 auto;
    width: 80%;
}