@use "../variables" as v;

/* HEADER */
#header {
    position: relative;
    margin: 3% auto;
    width: 94%;
}
#title {
    background-image: url('../images/backgrounds/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
    box-shadow: 0 0 1vw 1vw v.$navy-blue inset;
}
#title_inner {
    margin: 0 auto;
    width: 60%;
    padding: 5%;
    padding-bottom: 3%;
    text-align: center;
    background-color: v.$light-blue;
    color: v.$navy-blue;
}
#title_inner h1 {
    margin-bottom: 1vw;
    font-size: 4rem;
}
#title_inner a#email {
    margin: 1rem auto;
    font-size: 1.5rem;
    color: black;
}

/* LINKS SECTION */
#links {
    display: flex;
    align-items: center;
}
#links .column {
    width: 30%;
    text-align: center;
    margin: auto;
    padding: 2.5% 0;
    font-size: 1.5rem;
}
#links .column img {
    max-width: 1.25rem;
    height: auto;
}


/* LINK STYLING */
a:link {
    color: gray;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: underline;
}
a:visited {
    color: gray;
}


/* Heading blurb */
#whoami {
    margin: 5% auto 0 auto;
    width: 80%;
    height: 40%;
    padding: 4%;
    font-size: 1.5rem;
    text-align: center;
    background-color: v.$light-blue;
    color: v.$navy-blue;
    font-style: italic;
}
#whoami p ~ p {
    margin-top: 2%;
}

//Mobile
@media (max-width: 480px) {
    //Adjust font sizes to avoid overflow
    #title_inner h1 {
        font-size: 2.5rem;
    }

    //Make links stacked, not next to each other
    #links {
        display: block;
        margin: 0 auto;
        font-size: 1.25rem;
    }
    #links .column {
        margin: 0 auto;
        width: 100%;
        font-size: 1.25rem;
    }
    #links .column img {
        max-width: 1.25rem;
        height: auto;
    }

    #whoami p {
        font-size: 1.25rem;
        margin: 3vw;
    }
}