@use "../variables" as v;

//General
#project_menu a:hover {
    background-color: v.$gray-blue;
}
.project_container {
    box-sizing: border-box;
    padding: 3%;
    background-color: v.$light-blue;
}

.placeholder {
    display: flex;
    align-items: center; 
    justify-content: center;
    margin: 5%;
    padding: 20%;
    text-align: center;
    font-style: italic;
    font-size: 1.5rem;
    color: v.$dark-gray;
}
h1.project_title {
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    padding: 1rem;
}
.project_desc p {
    padding: 1% 10%;
    text-align: center;
    font-size: 1.5rem;
}
.project_divider ~ .project_content > .project_title {
    padding-top: 3%;
}

.project_skills {
    margin: 0 auto;
    display: flex;
    width: 80%;
    padding-top: 5%;
    align-items: center;
    list-style-position: outside;
}

.project_skills ul {
    padding-left: 0;
    padding-right: 0;
}

.takeaways h1 {
    margin: 1rem auto;
    text-align: center;
}
.takeaways p {
    margin: 0 auto;
    margin-bottom: 0.5rem;
    text-align: center;
    font-style: italic;
}

//Mobile
@media (max-width: 768px) {
    #project_menu {
        background-color: v.$light-blue;
        width: 100%;
        margin-top: 2rem;
        padding: 1rem 0;
        border-bottom: 0.5rem solid v.$navy-blue;
    }

    #project_menu button#project_dropdown {
        display: block;
        border: none;
        background-color: v.$light-blue;
        font-size: 2rem;
        margin: 0 auto;
    }

    #project_menu .project_category {
        display: none;
    }
    #project_menu a#email {
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
    }
    #project_menu a.visible {
        display: block;
    }
    #project_menu a.invisible {
        display: none;
    }

    .project_skills {
        font-size: 1.25rem;
        width: 80%;
        margin: 0 auto;
    }
    .project_skills #left, .project_skills #right {
        width: 50%;
    }

}

//Desktop
@media (min-width: 769px) {
    #projects {
        display: flex;
        margin: 0 auto;
        margin-top: 4%;
    }

    #project_menu {
        width: 30%;
    }
    #project_menu a {
        display: block;
        padding: 5% 5%;
        font-size: 1.5rem;
        background-color: v.$light-blue;
        color: v.$navy-blue;
        box-sizing: border-box;
        border: v.$navy-blue 2px solid;
        border-top: 0;
    }
    #project_menu a:last-of-type {
        border-bottom: none;
    }

    .project_container {
        width: 75%;
    }

    .project_skills #left {
        float: left;
        width: 35%;
    }
    .project_skills #right {
        float: right;
        width: 65%;
    }

    .project_skills ul li {
        font-family: "Lucida Console", Courier, monospace;
        list-style-type: none;
        font-size: 1.25rem;
        line-height: 1.2;
    }
    .project_skills ul li:before {
        content: ">";
    }

    .takeaways {
        border: 2% solid v.$navy-blue;
        width: 90%;
    }
    .takeaways h1 {
        text-decoration: underline v.$navy-blue;    //Why isn't this border working?
        font-size: 1.5rem;
        margin-top: 5%;
        margin-bottom: 3%;
        font-weight: normal;
    }
}

.project_divider {
    display: flex;
    justify-content: center;
    margin: 5%;
    padding: 2%;
    background-color: v.$gray-blue;
}
.project_divider#end {
    margin-bottom: 0;
}
.project_divider img {
    width: 20%;
}

/* ANIMATIONS */
.fade-in {
    animation: fadeIn 0.75s;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}