@use "../variables" as v;

//Mobile
@media (max-width: 480px) {

}


//Desktop
@media (min-width: 481px) {
    #projects {
        display: flex;
        margin: 0 auto;
        margin-top: 4%;
    }

    #project_menu a {
        display: block;
        padding: 5% 5%;
        font-size: 1.5rem;
        background-color: v.$light-blue;
        color: v.$navy-blue;
        border: v.$navy-blue 2px solid;
        border-top: 0;
    }
    #project_menu a:last-of-type {
        border-bottom: none;
    }
    #project_menu a:hover {
        background-color: v.$gray-blue;
    }

    .project_container {
        width: 70%;
        padding: 3%;
        background-color: v.$light-blue;
    }
    .placeholder, .placeholder_video {
        display: flex;
        align-items: center; 
        justify-content: center;
        margin: 5%;
        padding: 20%;
        text-align: center;
        font-style: italic;
        font-size: 1.25rem;
        color: v.$dark-gray;
    }
    h1.project_title {
        text-align: center;
        font-weight: bold;
        font-size: 2.5rem;
        padding: 1rem;
    }
    .project_desc p {
        padding: 1% 10%;
        text-align: center;
        font-size: 1.5rem;
    }
    .project_divider ~ .project_content > .project_title {
        padding-top: 3%;
    }

    .project_skills {
        margin: 0 auto;
        display: flex;
        width: 80%;
        padding-top: 5%;
        align-items: center;
        list-style-position: outside;
    }
    .project_skills #left {
        float: left;
        width: 35%;
    }
    .project_skills #right {
        float: right;
        width: 65%;
    }

    .project_skills ul {
        padding-left: 0;
        padding-right: 0;
    }
    .project_skills ul li {
        font-family: "Lucida Console", Courier, monospace;
        list-style-type: none;
        font-size: 1.25rem;
        line-height: 1.2;
    }
    .project_skills ul li:before {
        content: ">";
    }

    .takeaways {
        border: 2% solid v.$navy-blue;
        margin: 2% auto;
        width: 90%;
    }
    .takeaways h1 {
        text-align: center;
        text-decoration: underline v.$navy-blue;    //Why isn't this border working?
        font-size: 1.5rem;
        margin-top: 5%;
        margin-bottom: 3%;
        font-weight: normal;
    }
    .takeaways p {
        padding-bottom: 0.75rem;
        font-size: 1rem;
        line-height: 1.25rem;
        text-align: center;
        font-style: italic;
    }
}

.project_divider {
    display: flex;
    justify-content: center;
    margin: 5%;
    padding: 2%;
    background-color: v.$gray-blue;
}
.project_divider#end {
    margin-bottom: 0;
}
.project_divider img {
    width: 20%;
}

/* ANIMATIONS */
.fade-in {
    animation: fadeIn 0.75s;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}