@use "../variables" as v;

//Mobile
@media (max-width: 480px) {
    div #skills {
        display: block;
        margin: 0 auto;
    }
}

//Tablet & Desktop
@media (min-width: 481px) { 
    #skills {
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    #skills div {
        width: 33.33%;
    }
    #skills div#swe_skills {
        margin-left: 0;
    }
    #skills div#other_skills {
        margin-right: 0;
    }
    #skills:after {    /* Clear floats after the columns */
        content: "";
        display: table;
        clear: both;
    }
}

#skills .column {
    text-align: left;
    font-size: 1.25rem;
    margin: 1%;
    padding: 3%;
    background-color: v.$light-blue;
}

div#skills .column ul {
    padding-inline-start: 5%;
}
div#skills .column ul p {
    margin: 0;
    margin-left: 7.5%;
    font-size: 1.25rem;
    font-style: italic;
}