* {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

body {
  background-color: #091d3a;
}

#main {
  margin: 0 auto;
  width: 80%;
  box-sizing: border-box;
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 481px) {
  html {
    font-size: 16px;
  }
}
/* HEADER */
#header {
  position: relative;
  margin: 3% auto;
  width: 94%;
}

#title {
  background-image: url("../images/backgrounds/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5%;
  box-shadow: 0 0 1vw 1vw #091d3a inset;
}

#title_inner {
  margin: 0 auto;
  width: 60%;
  padding: 5%;
  padding-bottom: 3%;
  text-align: center;
  background-color: rgb(203, 239, 252);
  color: #091d3a;
}

#title_inner h1 {
  margin-bottom: 1vw;
  font-size: 4rem;
}

#title_inner a#email {
  margin: 1rem auto;
  font-size: 1.5rem;
  color: black;
}

/* LINKS SECTION */
#links {
  display: flex;
  align-items: center;
}

#links .column {
  width: 30%;
  text-align: center;
  margin: auto;
  padding: 2.5% 0;
  font-size: 1.5rem;
}

#links .column img {
  max-width: 1.25rem;
  height: auto;
}

/* LINK STYLING */
a:link {
  color: gray;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

a:visited {
  color: gray;
}

/* Heading blurb */
#whoami {
  margin: 5% auto 0 auto;
  width: 80%;
  height: 40%;
  padding: 4%;
  font-size: 1.5rem;
  text-align: center;
  background-color: rgb(203, 239, 252);
  color: #091d3a;
  font-style: italic;
}

#whoami p ~ p {
  margin-top: 2%;
}

@media (max-width: 480px) {
  #title_inner h1 {
    font-size: 2.5rem;
  }
  #title_inner a#email {
    font-size: 1.25rem;
  }
  #links {
    display: block;
    margin: 0 auto;
  }
  #links .column {
    margin: 0 auto;
    width: 100%;
    font-size: 1.25rem;
  }
  #links .column img {
    max-width: 1.25rem;
    height: auto;
  }
  #whoami p {
    font-size: 1.25rem;
    margin: 3vw;
  }
}
div#disclaimer h1 {
  margin: 1rem auto;
  width: 80%;
  background-color: rgb(203, 239, 252);
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
  text-emphasis: none;
  font-style: italic;
}

#skills {
  overflow: hidden;
}

@media (min-width: 769px) {
  #skills {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  #skills div {
    width: 32%;
  }
}
#skills .column {
  text-align: left;
  font-size: 1.5rem;
  margin: 1% 0;
  padding: 3% 0;
  background-color: rgb(203, 239, 252);
}

ul.nested-1 {
  margin: 0;
  font-size: 1.5rem;
  font-style: italic;
}

@media (max-width: 768px) {
  div #skills {
    display: block;
    margin: 0 auto;
  }
  #skills .column {
    padding: 5vw 2vw;
  }
}
#project_menu .active {
  background-color: rgb(169, 199, 210);
}

.project_container {
  box-sizing: border-box;
  padding: 3%;
  background-color: rgb(203, 239, 252);
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5%;
  padding: 20%;
  text-align: center;
  font-style: italic;
  font-size: 1.5rem;
  color: rgb(79, 79, 79);
}

h1.project_title {
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  padding: 1rem;
}

.project_desc p {
  padding: 1% 10%;
  text-align: center;
  font-size: 1.5rem;
}

.project_divider ~ .project_content > .project_title {
  padding-top: 3%;
}

.project_skills {
  margin: 0 auto;
  padding-top: 5%;
}

.project_skills ul li {
  font-family: "Lucida Console", Courier, monospace;
  list-style-type: none;
}

.project_skills ul li:before {
  content: ">";
}

.takeaways {
  width: 90%;
  margin: 0 auto;
  border: 2% solid #091d3a;
}

.takeaways h1 {
  margin: 1rem auto;
  text-align: center;
}

.takeaways p {
  margin: 0 auto;
  margin-bottom: 0.5rem;
  text-align: center;
  font-style: italic;
}

@media (max-width: 768px) {
  #project_menu {
    background-color: rgb(203, 239, 252);
    width: 100%;
    margin-top: 2rem;
  }
  #project_menu button#project_dropdown {
    display: block;
    border: none;
    background-color: rgb(203, 239, 252);
    font-size: 2rem;
    margin: 0 auto;
    border-bottom: 0.25rem solid #091d3a;
    padding: 1rem;
    width: 100%;
  }
  #project_menu a {
    padding: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
  }
  #project_menu a.project_category {
    display: none;
  }
  #project_menu a.visible {
    display: block;
  }
  #project_menu a.invisible {
    display: none;
  }
  a.project_category:first-of-type {
    margin-top: 0.75rem;
  }
  a.project_category:last-of-type {
    padding-bottom: 0.75rem;
  }
  .project_skills {
    font-size: 1.25rem;
    line-height: 1.5rem;
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 769px) {
  #projects {
    display: flex;
    margin: 0 auto;
    margin-top: 4%;
  }
  #project_menu {
    width: 25%;
  }
  #project_menu a {
    display: block;
    padding: 5%;
    font-size: 1.5rem;
    background-color: rgb(203, 239, 252);
    color: #091d3a;
    box-sizing: border-box;
    border: #091d3a 2px solid;
    border-top: 0;
  }
  #project_menu a:hover {
    background-color: rgb(169, 199, 210);
  }
  #project_menu a:last-of-type {
    border-bottom: none;
  }
  .project_container {
    width: 75%;
  }
  .project_skills {
    display: flex;
    align-items: center;
    width: 80%;
  }
  .project_skills ul#left {
    float: left;
    width: 35%;
  }
  .project_skills ul#right {
    float: right;
    width: 65%;
    margin-left: 1rem;
  }
  .project_skills ul {
    padding-left: 0;
    padding-right: 0;
  }
  .project_skills ul li {
    font-family: "Lucida Console", Courier, monospace;
    list-style-type: none;
    font-size: 1.25rem;
    line-height: 1.2;
  }
  .takeaways h1 {
    text-decoration: underline #091d3a;
    font-size: 1.5rem;
    margin-top: 5%;
    margin-bottom: 3%;
    font-weight: normal;
  }
}
.project_divider {
  display: flex;
  justify-content: center;
  margin: 5%;
  padding: 2%;
  background-color: rgb(169, 199, 210);
}

.project_divider:last-of-type {
  margin-bottom: 0;
}

.project_divider img {
  width: 20%;
}

/* ANIMATIONS */
.fade-in {
  animation: fadeIn 0.75s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Personal life */
#personal_life {
  margin: 5% auto;
  padding: 4%;
  align-content: center;
  background-color: rgb(169, 199, 210);
}

#personal_life h1 {
  text-align: center;
  font-size: 1.75rem;
  font-style: italic;
  margin-bottom: 1%;
}

#personal_life > p ~ h1 {
  margin-top: 3%;
}

#personal_life p {
  margin: 0 auto;
  font-size: 1.25rem;
  text-align: center;
  line-height: 1.5rem;
  color: #091d3a;
}

/* FOOTER */
footer {
  position: sticky;
  margin: 0;
  padding: 1vw 0;
  width: 100%;
  background-color: #000000;
}

footer p {
  color: rgb(203, 239, 252);
  font-size: 0.75rem;
  font-style: italic;
  text-align: center;
}

/* Selectors cheat sheet: https://dev.to/dawnind/css3-selectors-cheat-sheet-6dk *//*# sourceMappingURL=main.css.map */