* {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

body {
  background-color: #091d3a;
}

#main {
  margin: 0 auto;
  width: 80%;
}

/* HEADER */
#header {
  position: relative;
  margin: 3% auto;
  width: 94%;
}

#title {
  background-image: url("../images/backgrounds/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5%;
  box-shadow: 0 0 1vw 1vw #091d3a inset;
}

#title_inner {
  margin: 0 auto;
  width: 60%;
  padding: 5%;
  padding-bottom: 3%;
  text-align: center;
  background-color: rgb(203, 239, 252);
  color: #091d3a;
}

#title_inner h1 {
  margin-bottom: 1vw;
  font-size: 4rem;
}

#title_inner p {
  margin-top: 0;
  margin-bottom: 1vw;
  font-size: 1.5rem;
}

/* LINKS SECTION */
#links {
  display: flex;
  align-items: center;
}

#links .column {
  width: 30%;
  text-align: center;
  margin: auto;
  padding: 2.5% 0;
  font-size: 1.5rem;
}

#links .column img {
  max-width: 0.8em;
  height: auto;
}

/* LINK STYLING */
a:link {
  color: gray;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

a:visited {
  color: gray;
}

/* Heading blurb */
#whoami {
  margin: 5% auto 0 auto;
  width: 80%;
  height: 40%;
  padding: 4%;
  font-size: 1.5rem;
  text-align: center;
  background-color: rgb(203, 239, 252);
  color: #091d3a;
  font-style: italic;
}

#whoami p ~ p {
  margin-top: 2%;
}

@media (max-width: 480px) {
  div #skills {
    display: block;
    margin: 0 auto;
  }
}
@media (min-width: 481px) {
  #skills {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  #skills div {
    width: 33.33%;
  }
  #skills div#swe_skills {
    margin-left: 0;
  }
  #skills div#other_skills {
    margin-right: 0;
  }
  #skills:after { /* Clear floats after the columns */
    content: "";
    display: table;
    clear: both;
  }
}
#skills .column {
  text-align: left;
  font-size: 1.5rem;
  margin: 1%;
  padding: 3%;
  background-color: rgb(203, 239, 252);
}

div#skills .column ul {
  padding-inline-start: 5%;
}

div#skills .column ul p {
  margin: 0;
  margin-left: 7.5%;
  font-size: 1.5rem;
  font-style: italic;
}

@media (min-width: 481px) {
  #projects {
    display: flex;
    margin: 0 auto;
    margin-top: 4%;
  }
  #project_menu a {
    display: block;
    padding: 5% 5%;
    font-size: 1.5rem;
    background-color: rgb(203, 239, 252);
    color: #091d3a;
    border: #091d3a 2px solid;
    border-top: 0;
  }
  #project_menu a:last-of-type {
    border-bottom: none;
  }
  #project_menu a:hover {
    background-color: rgb(169, 199, 210);
  }
  .project_container {
    width: 70%;
    padding: 3%;
    background-color: rgb(203, 239, 252);
  }
  .placeholder, .placeholder_video {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
    padding: 20%;
    text-align: center;
    font-style: italic;
    font-size: 1.25rem;
    color: rgb(79, 79, 79);
  }
  h1.project_title {
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    padding: 1rem;
  }
  .project_desc p {
    padding: 1% 10%;
    text-align: center;
    font-size: 1.5rem;
  }
  .project_divider ~ .project_content > .project_title {
    padding-top: 3%;
  }
  .project_skills {
    margin: 0 auto;
    display: flex;
    width: 80%;
    padding-top: 5%;
    align-items: center;
    list-style-position: outside;
  }
  .project_skills #left {
    float: left;
    width: 35%;
  }
  .project_skills #right {
    float: right;
    width: 65%;
  }
  .project_skills ul {
    padding-left: 0;
    padding-right: 0;
  }
  .project_skills ul li {
    font-family: "Lucida Console", Courier, monospace;
    list-style-type: none;
    font-size: 1.25rem;
    line-height: 1.2;
  }
  .project_skills ul li:before {
    content: ">";
  }
  .takeaways {
    border: 2% solid #091d3a;
    margin: 2% auto;
    width: 90%;
  }
  .takeaways h1 {
    text-align: center;
    text-decoration: underline #091d3a;
    font-size: 1.5rem;
    margin-top: 5%;
    margin-bottom: 3%;
    font-weight: normal;
  }
  .takeaways p {
    padding-bottom: 0.75rem;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: center;
    font-style: italic;
  }
}
.project_divider {
  display: flex;
  justify-content: center;
  margin: 5%;
  padding: 2%;
  background-color: rgb(169, 199, 210);
}

.project_divider#end {
  margin-bottom: 0;
}

.project_divider img {
  width: 20%;
}

/* ANIMATIONS */
.fade-in {
  animation: fadeIn 0.75s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Personal life */
#personal_life {
  margin: 5% auto;
  padding: 4%;
  align-content: center;
  background-color: rgb(169, 199, 210);
}

#personal_life h1 {
  text-align: center;
  font-size: 1.75rem;
  font-style: italic;
  margin-bottom: 1%;
}

#personal_life > p ~ h1 {
  margin-top: 3%;
}

#personal_life p {
  font-size: 1.25rem;
  text-align: center;
  line-height: 1.5rem;
  color: #091d3a;
}

/* FOOTER */
footer {
  position: sticky;
  margin: 0;
  padding: 1vw 0;
  width: 100%;
  background-color: #000000;
}

footer p {
  color: rgb(203, 239, 252);
  font-size: 0.75rem;
  font-style: italic;
  text-align: center;
}

/* Selectors cheat sheet: https://dev.to/dawnind/css3-selectors-cheat-sheet-6dk *//*# sourceMappingURL=main.css.map */